body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    text-align: center;

  }
  
  textarea {
    background: transparent;
    border: 2px solid rgb(188, 45, 45);
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  .jumbotron {
    text-align: center;
    background-color:transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    /*border-top: 1px solid white;*/
  }
  
  .past {
    background-color: #7ab6d2;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color:rgb(92, 196, 206); 
  }
  
  .future {
    background-color: #461eb4;
    color: white;
  }
  
  .btn {
    background-color: rgb(92, 196, 206); 
    height: 80px;
    position: absolute;
    top: -25px;
    left: -10px;
    width: 200px;
    border: black; 
    color: white; 
    padding: 12px 16px;
    font-size: 16px; 
    cursor: pointer; 
  }
  
  .btn:hover {
    background-color: RoyalBlue;
  }
  
  .user-to-do {
    font-size: 30px;
    /*background-color: gray;*/ 
  }
  
  .user-to-do:active {
    border: 2px solid green;
  }
  
  .time {
    font-size: 18px;
  }
  
  .test {
    border-top: 2px dashed  rgb(92, 196, 206); 
    border-right: 2px solid black;
    margin-bottom: 17px;
    position: relative;
    left: 25px;

  }
   .text-input {
    color: black;
  }
  
  .text-input:focus {
    border: 2px solid black;
  }